<div class="controls">
    <%= link_to '', edit_item_path, class: 'glyphicon glyphicon-edit edit control-item' %>
    <%= link_to '', [:admin, item], method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-remove control-item delete pull-right' %>
</div>