<div class="ad-wrapper">
  <%= render 'shared/item_controls', { edit_item_path: edit_admin_ad_path(ad), item: ad } %>
  <%= render 'shared/item_undercover', { undercover: ad.photo } %>
  <%= render 'shared/item_title', { item: ad, title: ad.name } %>
</div>