
<%= link_to new_admin_ad_path do %>
  <div class="new">
    <div class="glyphicon glyphicon-plus"></div>
  </div>
<% end %> 

<!-- show all ads-->
<% unless @ads.empty? %>
  <% @ads.each do |ad| %>
  <%= render partial: 'ad', locals: { ad: ad } %>
  <% end %>
<% else %>
  <!-- no ads found -->
<% end %>
<div class='clearfix'></div>
