<div class="ad-wrapper size_m">
  <%= render 'shared/item_controls', { edit_item_path: edit_admin_user_path(user), item: user } %>
  <%= render 'shared/item_undercover', { undercover: user.photo } %>
  <%= render 'shared/item_title', { item: user, title: user.first_name } %>
</div>