
<%= link_to new_admin_user_path do %>
  <div class="new">
    <div class="glyphicon glyphicon-plus"></div>
  </div>
<% end %> 

<!-- show all ads-->
<% unless @users.empty? %>
  <% @users.each do |user| %>
  <%= render partial: 'user', locals: { user: user } %>
  <% end %>
<% else %>
  <!-- no ads found -->
<% end %>
<div class='clearfix'></div>

<%= render 'shared/pagination', items: @users %>
